#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardVenusaur{
  border: 3px solid whitesmoke;
  padding: 1.98rem;
  border-radius: 1rem;
}

.cardVenusaur:hover{
  box-shadow: 0.3rem 0.3rem solid green;
  box-shadow: 0.2rem 0.2rem whitesmoke;
  translate: -2px -2px;
}

.cardVenusaur img{
  width: 10rem;
  height: 10rem;
}
